#app{
	
	background:#fff;
	border:6px solid #aaa;
	border-radius: 5px;
    padding:10px;
    border-color: green;
}

body{
    background-image: url("ekranas.jpg");
}

.col-lg-6{
    padding-top: 10px;
}

.fonas{
    background: #aaa;
    margin: 5px;
    border-radius: 5px;
   
    padding-top: 2px;
    border:2px solid green;
}

.form-control{
    width: 500px;
}

.form-group{
    padding-top: 10px;
}

