body{
	background:url("../img/hip-square.png");
}



#stilius{
	
	background:#fff;
	border:1px solid #aaa;
	border-radius: 5px;
	padding:10px;
}



.col-lg-4{
	padding-bottom: 20px;
	text-align: center;
}

#app_table{
	width:100%;
}

.container{
	padding-top:50px;
}