body{
    background:url("../img/zalgiris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.remas{
    width: 100%;
    position: relative;
    height: 130px;
}
.stilius{
    border: 1px solid white;
    height: 900px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    
}
    
.navbar-inverse{
    opacity: 0.9;
    filter: alpha(opacity=30);
    position: fixed;
     
}

.navbar-nav>li>a{
    font-family: 'Courgette', cursive;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 5px;
    background:#006030;
}

.navbar-nav>li>a:hover{
    transform: scale(1.1);

}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.container-fluid{
    padding-top: 10px;
}

.navbar-nav>.active>a{
    width: 200px;
    height: 70px;
    padding-bottom: 20px;
    padding-top: 25px;
    font-size:30px;
}

.navbar-right{
    padding-top: 10px;
}
.bord{
    border: 2px solid white;
}

p{
    color: white;
    font-family: 'Courgette', cursive;
    font-size:20px;
    padding-left: 30px;
    text-decoration: underline;
  
}

.table {
    color: white;
    font-family: 'Courgette', cursive;
    font-size:25px;
   
    max-width: 50px;
    text-align:left;
}

h3{
    color: black;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.navbar-nav>li>.dropdown-menu{
    border-radius: 10px;
    border: 3px solid white;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.dropdown-menu>li>a{
    font-family: 'Courgette', cursive;
    font-size: 16px;
    color:white;
    background: #2a2d2b;

}
.dropdown-menu>li>a:hover{
    background:#0f663a;
    

}

.app{
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 10px;
    opacity: 0.8;
    margin-bottom:10px;
    background: #2a2d2b;

}

.table-bordered{
    color:#2a2d2b;
    font-family: 'Courgette', cursive;
    font-size:25px;
   
    max-width: 50px;
    text-align:left; 
}

.btn-active{
    color: white;
    font-family: 'Courgette', cursive;
    font-size:25px;
}

#footer{
    height: 100px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    
}