body{
	position:relative;
}
.Pagr{
	position:relative;
}

.navbar-nav {
	float: right;
	font-family: 'Bungee Inline', cursive;
	font-size: 18px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	border-top: 4px solid #008CBA;
	border-bottom: 4px solid #008CBA;
	transition: 0.5s ease;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:0px;
	padding-bottom:0px;
    }

#myNavbar {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar-inverse{
	position: fixed;
	border-bottom: 2px solid white;
}                

.stilius{
	margin-top:75px;
}

.navbar-brand{
	font-family: 'Bungee Inline', cursive;
	font-size: 32px;
	margin-top: 20px;
	padding-left: 120px;
	transition: 0.3s ease;
	color: #ffffff;

}

.navbar-nav>li>a{
	
	padding-top:20px;
	padding-bottom:20px;
	transition: 0.5s ease;
	border-top: 4px solid #222222;
	border-bottom: 4px solid #222222;
	transition: 0.5s ease;
	
}

.navbar-nav>li>a:hover{
	border-top: 4px solid #008CBA;
	border-bottom: 4px solid #008CBA;
	transition: 0.5s ease;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:0px;
	padding-bottom:0px;
	
}

.foto{
	margin-left:440px;
	margin-top: 100px;
	border-radius: 50%;
	border: 4px solid #222222;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);	
}

.name{
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	margin-top:20px;
	font-size: 40px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
	border-radius:10px;
	width: 600px;
	margin-left:250px;
}

.fa-code{
	font-size: 70px;
	margin-left:530px;
	margin-top: 10px;
}

#name1{
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	text-transform: lowercase;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
	width: 350px;
	font-size: 18px;
	border-radius:10px;
	margin-left:380px;
	margin-top:10px;
	margin-bottom: 65px;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.stilius2{
	width: 100%;
	height:418px;
	background:  #222222;
}
#port{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color:white;
	font-family: 'Bungee Inline', cursive;
}


.fa-address-card-o{
	color:#008CBA;
}


.fa-graduation-cap{
	font-size:170px;
}

.fa-futbol-o{
	font-size:170px;
}


 .stilius1{
	 height: 300px;
	 width: 300px;
	 background: white;
	 position: relative;
	 border-radius:15px;
	 font-family: 'Bungee Inline', cursive;
	 text-align: center;
	 padding-top: 60px;
	 font-size:30px;
	 margin-top:20px;
	
	margin-left:67px;
 }

.stilius1:hover .overlay {
	width: 100%;
  }

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
	border-radius:15px;
  }

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
	
  }

.text a{
	text-decoration: none;
	color: white;
} 

.stilius1 .fa-code{
	font-size:170px;
	margin-left:0px;
	margin-top: 0px;
}

.form1{
	width: 100%;
	background:  #222222;
	display: none;
	padding-bottom: 20px;
}

.form1 p {
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	color: white;
	font-size: 25px;
	position: relative;

}

.form1 li {
	font-family: 'Kurale', serif;
	color: white;
	font-size: 20px;
	text-align: center;
	list-style-type: none;

}

.form1 li ul {
	padding-top: 10px;
	text-align: center;
}

.stilius3 p{
	font-family: 'Bungee Inline', cursive;
	color: black;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

.stilius3 {
	width: 100%;
	height: 300px;
	
}
 .Edc:hover{
	 cursor: pointer;
 }

 .Skills:hover{
	cursor: pointer;
}

.Skills:hover{
	cursor: pointer;
}
.Hobb:hover{
	cursor: pointer;
}

 .Option{
	border-top: 1px solid white;
 }

 .cancelbtn {
	width: auto;
	margin-left: 1287px;
	margin-top: 10px;
	background-color: white;
	border-radius:10px;
}

.cancelbtn2 {
	width: auto;
	margin-left: 1287px;
	margin-top: 10px;
	background-color: #44484b;
	border-radius:10px;
	color: white;
	margin-bottom: 20px;
}

.form2 p{
	font-family: 'Bungee Inline', cursive;
	color: black;
	text-align: center;
	font-size: 30px;
	margin-bottom: 70px;
}

.form2{
	padding-bottom: 30px;

}


.form3 p {
	font-family: 'Bungee Inline', cursive;
	color: white;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.form2{
	display:none;
	border-bottom: 1px solid black;
}


.form3 li {
	font-family: 'Kurale', serif;
	color: white;
	font-size: 20px;
	text-align: center;
	list-style-type: none;

}

.form3 li ul {
	padding-top: 20px;
	text-align: center;
}

.form3 {
	width: 100%;
	background:  #222222;
	border-top: 1px solid white;
	padding-bottom: 20px;
	display: none;
}

.cancelbtn3{
	width: auto;
	margin-left: 1287px;
	margin-top: 10px;
	background-color: white;
	border-radius:10px;
}

#Contact{
	width: 100%;
	height:550px;
	background:  #222222;
	border-bottom: 1px solid white;
}

.stilius4 p {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color:white;
	font-family: 'Bungee Inline', cursive;
	
}

.stilius4 span {
	text-align: center;
	padding-left: 150px;
	font-size: 20px;
	color:white;
	margin: 0 0 25px;
	font-family: 'Kurale', serif;
	
}


.btn-default {
    color:white;
    background-color: #222222;
	border-color: #ccc;
	border: 2px solid white;
	margin-left:40px;
	width: 300px;
	box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.btn-default1{
	color:white;
    background-color: #222222;
	border-color: #ccc;
	border: 2px solid white;
	margin-left:250px;
	width: 300px;
	box-shadow: 0px 0px 10px rgb(255, 255, 255);
	border-radius: 15px;
}

.btn-default1:hover{
	background-color: #008CBA;
	color:white;
	transform: scale(1.1)

}
.btn-default:hover{
	background-color: #008CBA;
	color:white;
	transform: scale(1.1)
}


.form-group {
    margin-bottom: 15px;
    margin-top: 20px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
	color: white;
	text-align: center;
}

h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Kurale', serif;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1s linear forwards;
}

.PHP .progress .progress-right .progress-bar{
	left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-6 1s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}


.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
	animation: loading-2 1s linear forwards 1s;
	
}

.css .progress.blue .progress-left .progress-bar{
	animation: loading-3 1s linear forwards 1s;
	
}

.js .progress.blue .progress-left .progress-bar{
	animation: loading-4 1s linear forwards 1s;
	
}

.PHP .progress.blue .progress-left .progress-bar{
	animation: loading-5 1s linear forwards 1s;
	
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-6{
    0%{
        -webkit-transform: rotate(0sdeg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}


.footer p{
	text-align: center;
	color: white;
	padding-bottom: 0px; 
	margin-bottom: 0px;
}

.footer{
	background:#222222;
	width: 100%;
	height: 60px;
	padding-top: 10px;
	
}


.btn-circle.btn-lg {
	width: 40px;
	height: 40px;
	padding: 3px 5px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
  }
