body{
	position:relative;
}
.Pagr{
	position:relative;
}

.navbar-nav {
	float: right;
	font-family: 'Bungee Inline', cursive;
	font-size: 18px;
}

#myNavbar {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar-inverse{
	position: fixed;
	border-bottom: 2px solid white;
}                

.stilius{
	margin-top:75px;
}

.navbar-brand{
	font-family: 'Bungee Inline', cursive;
	font-size: 32px;
	margin-top: 20px;
	padding-left: 120px;
	transition: 0.3s ease;
	color: #ffffff;

}


.navbar-nav>li>a{
	
	padding-top:20px;
	padding-bottom:20px;
	transition: 0.5s ease;
	border-top: 4px solid #222222;
	border-bottom: 4px solid #222222;
	transition: 0.5s ease;
	
	
}


.navbar-nav>li>a:hover{
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	transition: 0.5s ease;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:0px;
	padding-bottom:0px;
	
}

.foto{
	margin-left:440px;
	margin-top: 100px;
	border-radius: 50%;
	border: 4px solid #222222;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);	
}

.name{
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	margin-top:20px;
	font-size: 40px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
	border-radius:10px;
	width: 600px;
	margin-left:250px;
}

.fa-code{
	font-size: 70px;
	margin-left:530px;
	margin-top: 10px;
}

.name1{
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	text-transform: lowercase;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
	width: 350px;
	font-size: 18px;
	border-radius:10px;
	margin-left:380px;
	margin-top:10px;
	margin-bottom: 65px;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.stilius2{
	width: 100%;
	height: 500px;
	background:  #222222;
}
.port{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color:white;
	font-family: 'Bungee Inline', cursive;
}

.skilss{
	background: white;
	height: 300px;
	width: 300px;
	margin-left:60px;
	margin-top:20px;
	text-align: center;
	border-radius:15px;
	
}

