#app{
	
	background:#fff;
	border:3px solid #aaa;
	border-radius: 5px;
    padding:20px;
    border-color: green;
}

body{
    background-image: url("ekranas.jpg");
}

.col-lg-4{
    padding-top: 20px;
}

.fonas{
    background: #aaa;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    border:2px solid green;
}

