
body{
	background:url('../img/fonas.png');
	position:relative;
}

#jquery_basic{
	position:relative;
}

.stilius{
    background:#fff;
	padding:15px;
}

.Scroll_counter{
	width: 100px;
	background-color: orange;
	text-align: center;
	margin-top: 10px;
	
}

.Scroll{
	position:fixed;
	top:0px;
	left:0;
	right:0;
}

.cont_bd{
	background: white;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	

}

h1{
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.linkai{
	padding-top: 10px;
}

.kvadratas{
	background: red;
	width: 400px;
	height: 200px;
	margin-top: 100px;
	position: relative;
	text-align: center;
}

.cirkle{
	background: yellow;
	width: 170px;
	height: 100px;
	position: absolute;
	right: -60px;
    bottom: 139px;
	border-radius: 80%;
}